body {
	margin:0;
	padding:0;
	background-image: url("images/fond.jpg");
	background-color: black;
}
header, nav, footer, section, article, aside {
	position: relative;
}
header{
	position: absolute;
	position: fixed;
	z-index: 1;
	right: 25%;
	left: 25%;
}
.imgMenu{
	border: 3px solid white;
}
.ghtml {
	position: absolute;
	position: fixed;
	z-index: 2;
	top: 65px;
	left: 623.5px;
}
.dcss {
	position: absolute;
	position: fixed;
	z-index: 2;
	top: 65px;
	left: 1100px;
}

section {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 140px;
	/*border-bottom: 0.1em solid white;
	border-left: 0.1em solid white;
	border-right: 0.1em solid white;*/
	display: inline-block;
	width: 50%;
	border: 7.3px solid white;
	}

#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element:nth-child(1) /* On prend le deuxième bloc élément */
{
       flex: 1;
}
.element:nth-child(2) /* On prend le deuxième bloc élément */
{
        flex: 2; 
        color: white;

}

#conteneur2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element2:nth-child(1) /* On prend le deuxième bloc élément */
{
   	 color: white;
     flex: 2;
}
.element2:nth-child(2) /* On prend le deuxième bloc élément */
{
        flex: 1;
}

#imgHtml {
	height: 150px;
	width: 150px;
	margin-left: 30%;
	border: 3px solid white;
}
#imgCss {
	height: 150px;
	width: 150px;
	margin-left: 30%;
	border: 3px solid white;
}

footer {
	background-color: green;
	clear: both;
	height: 30px;
	width: 60%;
	margin-left: 25%;
	width: 50%;
}
p {
	width: 250px;
    height: 150px;
    text-align: justify;
    overflow: auto;
    padding-right: 20px;
    padding-left: 20px;
}
h1 {
	text-align: center;
	color: white;
}
video {
	margin-left: 19%;
	border: 2px solid white;
}